Repository maxexcloo/homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-sorting, no-secrets

check-sorting:
  name: Check HCL sorting
  entry: scripts/check-sorting.sh
  language: script
  pass_filenames: true

no-secrets:
  name: Check for secrets
  entry: scripts/check-secrets.sh
  language: script
  pass_filenames: true

Add 1Password templates for manual resource creation
  README.md
  TEMPLATES.md
Due: none

Fix inconsistencies and ensure CLAUDE.md compliance
  .mise.toml
  .pre-commit-config.yaml
  ARCHITECTURE.md
  CLAUDE.md
  DNS_ARCHITECTURE.md
  FEATURE_MATRIX.md
  TEMPLATES.md
  docker/github-runner.yaml
  infrastructure/backend.tf
  infrastructure/dns.auto.tfvars
  infrastructure/dns.tf
  infrastructure/main.tf
  infrastructure/providers.tf
  infrastructure/variables.tf
  services/backend.tf
  services/main.tf
  services/providers.tf
Due: check-sorting, no-secrets

Simplify setup task to work better with Touch ID
  .mise.toml
Due: none

Minimize secrets and standardize configuration
  .github/workflows/apply.yml
  .github/workflows/plan.yml
  .gitignore
  .mise.toml
  SECRETS.md
  infrastructure/terraform.auto.tfvars
  infrastructure/variables.tf
  services/terraform.auto.tfvars
  services/variables.tf
Due: check-sorting, no-secrets

Restore Gatus monitoring and fix documentation inconsistencies
  ARCHITECTURE.md
  DNS_ARCHITECTURE.md
  FEATURE_MATRIX.md
Due: none

Sort documentation and configuration files per CLAUDE.md standards
  README.md
  infrastructure/terraform.auto.tfvars
  services/terraform.auto.tfvars
Due: no-secrets

Create comprehensive 1Password templates with all fields
  .mise.toml
  TEMPLATES.md
  templates/1password/providers-template.json
  templates/1password/server-template.json
  templates/1password/service-template.json
Due: none

Update documentation with complete mise task structure and fix outdated references
  AGENTS.md
  ARCHITECTURE.md
  FEATURE_MATRIX.md
  README.md
  SECRETS.md
Due: none

Implement 1Password vault listing via op CLI and Proxmox provider extraction
  infrastructure/main.tf
  infrastructure/providers.tf
  infrastructure/terraform.tf
Due: check-sorting, no-secrets

push changes
  .mise.toml
  infrastructure/dns.auto.tfvars
  infrastructure/dns.tf
  infrastructure/main.tf
  infrastructure/providers.tf
  infrastructure/terraform.auto.tfvars
  infrastructure/variables.tf
  services/main.tf
Due: check-sorting, no-secrets

uplift infra to new format
  .mise.toml
  backend.tf
  dns.auto.tfvars
  dns.tf
  infrastructure/dns.auto.tfvars
  infrastructure/main.tf
  modules/server/cloud-init.yaml
  modules/server/main.tf
  modules/server/oci/main.tf
  modules/server/proxmox/main.tf
  onepassword.tf
  providers.tf
  services/backend.tf
  services/main.tf
  services/providers.tf
  services/terraform.auto.tfvars
  services/variables.tf
  terraform.auto.tfvars
  terraform.tf
  variables.tf
Due: check-sorting, no-secrets

merge
  onepassword.tf
Due: check-sorting, no-secrets

update docs
  AGENTS.md
  ARCHITECTURE.md
  DNS_ARCHITECTURE.md
  FEATURE_MATRIX.md
  README.md
  SECRETS.md
  onepassword.tf
Due: check-sorting, no-secrets

add b2, resend, tailscale, onepassword update support
  b2.tf
  onepassword.tf
  providers.tf
  resend.tf
  tailscale.tf
  terraform.tf
Due: check-sorting, no-secrets

cleanup dns
  dns.tf
Due: check-sorting, no-secrets

update
  dns.tf
Due: check-sorting, no-secrets

add private ip + fix bug with inputs
  onepassword.tf
Due: check-sorting, no-secrets

update dns
  dns.auto.tfvars
  dns.tf
Due: check-sorting, no-secrets

fixup
  dns.tf
Due: check-sorting, no-secrets

fix cname
  dns.tf
Due: check-sorting, no-secrets

comment actions
  .github/workflows/main.yml
Due: none

add acme
  cloudflare.tf
  terraform.auto.tfvars
  variables.tf
Due: check-sorting, no-secrets

update structure + cleanup
  b2.tf
  cloudflare.tf
  locals_dns.tf
  locals_homelab.tf
  onepassword.tf
  onepassword_input.tf
  onepassword_output.tf
  resend.tf
  tailscale.tf
  terraform.auto.tfvars
  variables.tf
Due: check-sorting, no-secrets

update docs
  ARCHITECTURE.md
  DNS_ARCHITECTURE.md
  FEATURE_MATRIX.md
  locals_dns.tf
Due: check-sorting, no-secrets

add cloudflare_api_tokens + small refactor
  cloudflare.tf
  locals_dns.tf
  locals_homelab.tf
Due: check-sorting, no-secrets

cleanup and change cloudflare
  cloudflare.tf
  locals_homelab.tf
  providers.tf
Due: check-sorting, no-secrets

add cloudflare_zero_trust_tunnel
  cloudflare.tf
  locals_dns.tf
  locals_homelab.tf
Due: check-sorting, no-secrets

fix tokens
  cloudflare.tf
  locals_homelab.tf
Due: check-sorting, no-secrets

tidy up and add duckdns
  .mise.toml
  cloudflare.tf
  locals_dns.tf
  locals_homelab.tf
  onepassword_input.tf
  terraform.auto.tfvars
Due: check-sorting, no-secrets

add management port and url
  locals_homelab.tf
  onepassword_output.tf
Due: check-sorting, no-secrets

fix onepassword
  .gitignore
  onepassword_output.tf
Due: check-sorting, no-secrets

cleanup and refactor
  b2.tf
  cloudflare.tf
  homelab_discovery.tf
  homelab_processing.tf
  homelab_sync.tf
  locals_dns.tf
  locals_homelab.tf
  onepassword_input.tf
  resend.tf
  services_discovery.tf
  services_processing.tf
  services_sync.tf
  tailscale.tf
Due: check-sorting, no-secrets

new lines
  homelab_processing.tf
  services_discovery.tf
  services_processing.tf
  services_sync.tf
Due: check-sorting, no-secrets

update dns, cleanup processing, fix bugs, add dns comments
  cloudflare.tf
  dns.auto.tfvars
  homelab_processing.tf
  homelab_sync.tf
  locals_dns.tf
  services_processing.tf
  services_sync.tf
Due: check-sorting, no-secrets

format
  services_sync.tf
Due: check-sorting, no-secrets

add refresh fix
  homelab_discovery.tf
  services_discovery.tf
Due: check-sorting, no-secrets

cleanup
  homelab_discovery.tf
  services_discovery.tf
Due: check-sorting, no-secrets

fix input bug
  homelab_processing.tf
  homelab_sync.tf
  services_processing.tf
  services_sync.tf
Due: check-sorting, no-secrets

update dns
  dns.auto.tfvars
Due: no-secrets

Path conditions:
  check-sorting: any of: \.tf$
  no-secrets: any of: \.tf$|\.tfvars$
